.message {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 98vw;
    font-size: 0.85em;
}

@media (min-width: 825px) {
    .message {
        font-size: 0.85em;
    }
}

@media (max-width: 300px) {
    .message {
        font-size: 0.8em;
    }
}