.colorElement {
    border: 1px solid black;
    width: 1.6em;
    height: 1.6em;
    border-radius: 100%;
    margin: 0 0.1vw;
    transition: background-color 0.15s ease-in-out;
}

@media (max-width: 300px) {
    .colorElement {
        width: 1em;
    }
}

@media (min-width: 700px) and (min-height: 900px) {
    .colorElement {
        width: 2.5em;
        height: 2.5em;
    }
}

@media (min-width: 900px) and (min-width: 1200px) {
    .colorElement {
        width: 3em;
        height: 3em;
    }
}