.mainNotFound {
    color: white;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unknownmessage {
    margin-top: 1vh;
    width: fit-content;
    font-size: 2em;
}

#unknownMessage {
    color: rgba(15, 15, 182);
    margin: 0 0.5vw;
    animation-name: unknown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes unknown {
    0% {
        filter: blur(0);
    }

    50% {
        filter: blur(2px);
    }
    
    100% {
        filter: blur(0);
    }
}

@media (max-width: 300px) {
    .unknownmessage {
        font-size: 1em;
    }
}