#titlePartFlow {
    animation: animateFade 3s infinite;
}

#titlePartPuzzle {
    animation: animateFade 2s infinite;
}

#titlePartSolver {
    animation: animateFade 1s infinite;
}

.title {
    position: relative;
    height: 20vh;
    font-size: min(10vw, 80px);
    margin: 1vh 0.7vw;
}

.titleBox {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 70vw;
    text-align: center;
    border: 1px solid white !important;
    transition: width 1s;
    transition: border 1s, width 1s;
    background-color: rgb(1 28 58) !important;
    color: white !important;
}

.linksAbout {
    display: flex;
    flex-direction: row;
}

.github {
    width: 40vw;
    margin: 8vh 2vw;
    background-color: rgb(1 28 58) !important;
    color: white !important;
}

.customCard {
    border: 1px solid rgba(213, 213, 213, 1);
    border-radius: 2%;
    transition: border 1.5s;
}

.customButton {
    border: 1px solid white !important;
    color: white !important;
    background-color: rgb(1 28 58) !important;
}

.customButton:hover {
    background-color: #084daf !important;
}

.customCard:hover {
    border: 1px solid #0d6efd;
}

.info:hover {
    width: 65vw;
    border: 1px solid #0d6efd !important;
}

.linkCard {
    border: 0 !important; 
}

@keyframes animateFade {
    0% {
        opacity: 1;
        scale: 1;
    }

    50% {
        opacity: 0.6;
        scale: 1.005;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@media (max-width: 500px) {
    .linksAbout {
        flex-direction: column;
    }

    .customCard {
        margin: 3vh 0;
    }

    .github {
        width: 64vw;
    }
}