:root {
    --fontSize: 6em; 
    --addend: 3em;
    --buttonSub: 1em;
}

.main {
    margin: 0.5vh auto;
    width: 98vw;
    height: 85vh;
}

.mainAfterEffect {
    animation: flicker 1s infinite ease-in-out;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0vh auto;
    height: 20vh;
    font-size: var(--fontSize);
    animation: slideover 3s 1 ease-out;
    color: #084daf;
}

.continue {
    position: relative;
    font-size: calc(var(--fontSize) - var(--buttonSub));
    color: #0252c3;
    bottom: 25vh;
}

#continueCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 15vh auto;
}

@keyframes continueFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideover {
    0% {
        opacity: 0;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
    }

    10% {
        opacity: 0.25;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
    }

    20% {
        opacity: 0.5;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
    }

    30% {
        opacity: 0.75;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
    }

    40% {
        opacity: 1;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
    }

    50% {
        opacity: 1;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
        scale: 1;
        text-shadow: 0 0 0 blue;
    }

    60% {
        opacity: 1;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
        scale: 1.1;
        text-shadow: 0 12vh 4px blue, 0 -12vh 0.5px blue;
    }

    80% {
        opacity: 1;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
        scale: 1;
        text-shadow: 0 0px 0px blue;
    }

    90% {
        opacity: 1;
        font-size: calc(var(--fontSize) + var(--addend));
        margin-top: 30vh;
        text-shadow: 6px 0px 2px blue;
    }

    100% { 
        opacity: 1;
        font-size: var(--fontSize);
        margin-top: 0vh;
        text-shadow: 0 0 0 blue;
    }
}

@keyframes flicker { 
    0% {
        box-shadow: 0px -5px 10px rgba(0, 0, 255, 1); 
    }
    
    25% { 
        box-shadow: -5px 0px 10px rgba(0, 0, 255, 1);
    }

    50% {
        box-shadow: 0px 5px 10px rgba(0, 0, 255, 1); 
    }

    75% {
        box-shadow: 5px 0px 10px rgba(0, 0, 255, 1);
    }
    
    100% {
        box-shadow: 0px -5px 10px rgba(0, 0, 255, 1); 
    }
}

@media (min-width: 100px) {
    :root {
        --fontSize: 1.2em;
        --addend: 0.4em;
        --buttonSub: 0.2em;
    }
}

@media (min-width: 300px) {
    :root {
        --fontSize: 1.8em;
        --addend: 0.5em;
        --buttonSub: 0.5em;
    }
}

@media (min-width: 700px) and (min-height: 900px) {
    :root {
        --fontSize: 3em;
        --addend: 2em;
        --buttonSub: 0.7em;
    }
}

@media (min-width: 900px) and (min-width: 1200px) {
    :root {
        --fontSize: 3.5em;
        --addend: 2em;
        --buttonSub: 1.2em;
    }
}