#about {
    margin-left: auto;
}

#customNav {
    height: 7.4vh;
    background-color: rgb(1 28 58) !important;
    transition: opacity 1s;
}

#heading {
    font-size: 1em;
}

#about {
    font-size: 1em;
}