#customNav {
    background-color: rgb(1 28 58) !important;
    transition: opacity 1s;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 1vh 2vw;
}

.links {
    color: white;   
    text-decoration: none;
    cursor: pointer;
    margin: 0 1.2vw;
}

#navigators {
    display: none;
    align-items: center;
}

#menuContainer {
    position: absolute;
    top: 21%;
    right: 1vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: fit-content; 
    align-items: center;
    border-top: 3px solid #002f65;
    border-left: 1px solid #002f65;
    border-right: 1px solid #002f65;
    border-bottom: 1px solid #002f65;
    background-image: linear-gradient(#031e3d, #02254d, #051a35);
    z-index: 5;
}

#menuNavigators {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

@media (max-width: 300px) {
    #menuContainer {
        top: 25%;
    }
}

@media (max-width: 260px) {
    #menuContainer {
        top: 28%;
    }
}

@media (max-width: 240px) {
    #menuContainer {
        top: 30%;
    }
}

.open {
    width: 8vw;
}

@media (min-width: 400px) {
    #navigators {
        display: flex;
    }

    #menuContainer {
        display: none;
    }

    .open {
        display: none;
    }
}