footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    color: whitesmoke;
    background-color: #1a76fe;
    bottom: 0vh;
    height: 6vh;
    font-size: 0.8em;
}

#p1{
    font-style: italic;
    margin-left: auto;
}